global_costmap:
  plugins: []
  global_frame: base_link
  robot_base_frame: base_link
  transform_tolerance: 0.2
  update_frequency: 0.1
  publish_frequency: 0
  static_map: true
  rolling_window: false
  always_send_full_costmap: false
  width: 5
  height: 5
  resolution: 0.05
  origin_x: -2.5
  origin_y: -2.5
    
local_costmap:
  plugins: 
    - {name: obstacle_layer,  type: "costmap_2d::ObstacleLayer"}
    - {name: inflation_layer,  type: "costmap_2d::InflationLayer"}
  global_frame: base_link
  robot_base_frame: base_link
  transform_tolerance: 0.2
  update_frequency: 5
  publish_frequency: 1
  static_map: true
  rolling_window: false
  always_send_full_costmap: false
  width: 5
  height: 5
  resolution: 0.05
  origin_x: -2.5
  origin_y: -2.5
  obstacle_layer:
    enabled: true
    observation_sources: urg_lidar
    urg_lidar:
      topic: scan
      data_type: LaserScan
      clearing: true
      marking: true
      inf_is_valid: false
      min_obstacle_height: 0
      max_obstacle_height: 1
      obstacle_range: 3
      raytrace_range: 10