base_global_planner: global_planner/GlobalPlanner
base_local_planner: base_local_planner/TrajectoryPlannerROS

footprint: [[0.56,-0.32],[0.56,0.32],[-0.56,0.32],[-0.56,-0.32]]
footprint_padding: 0.1

controller_frequency: 10.0
controller_patience: 15.0
planner_frequency: 0.0
planner_patience: 5.0
max_planning_retries: 10
oscillation_timeout: 30.0

recovery_behavior_enabled: false
recovery_behaviors: [{name: conservative_reset, type: clear_costmap_recovery/ClearCostmapRecovery}, {name: aggressive_reset, type: clear_costmap_recovery/ClearCostmapRecovery}]
conservative_reset:
  reset_distance: 3.0

global_costmap:
  plugins: 
    - {name: obstacle_layer,  type: "costmap_2d::ObstacleLayer"}
  global_frame: base_link
  robot_base_frame: base_link
  transform_tolerance: 0.2
  update_frequency: 0
  publish_frequency: 0
  static_map: true
  rolling_window: false
  always_send_full_costmap: false
  width: 0
  height: 0
  resolution: 0.05
  origin_x: 0
  origin_y: 0
  obstacle_layer:
    enabled: false
    
local_costmap:
  plugins: 
    - {name: obstacle_layer,  type: "costmap_2d::ObstacleLayer"}
    - {name: inflation_layer,  type: "costmap_2d::InflationLayer"}
  global_frame: base_link
  robot_base_frame: base_link
  transform_tolerance: 0.2
  update_frequency: 5
  publish_frequency: 1
  static_map: true
  rolling_window: false
  always_send_full_costmap: false
  width: 5
  height: 5
  resolution: 0.05
  origin_x: 0
  origin_y: 0
  obstacle_layer:
    enabled: true
    observation_sources: urg_lidar
    urg_lidar:
      topic: scan
      data_type: LaserScan
      clearing: true
      marking: true
      inf_is_valid: false
      min_obstacle_height: 0
      max_obstacle_height: 1