<launch>
  <arg name="use_joystick" default="true" />
  <arg name="use_keyboard" default="true" />
  <arg name="use_urg_node" default="true" />
  <arg name="use_rosserial" default="true" />
  <arg name="use_twist_mux" default="true" />
  <arg name="use_usb_cam" default="false" />
  <arg name="use_cob_base_velocity_smoother" default="true" />
  <arg name="use_move_base" default="true" />
  <arg name="use_robot_state_publisher" default="true" />
  <arg name="use_twist_to_ackermann" default="true" />
  <arg name="use_line_follower" default="true" />
  <arg name="use_cv_camera" default="true" />
  <arg name="use_stage_ros" default="false" />
  <arg name="use_darknet_ros" default="true" />
  
  <arg name="launch_dir" default="$(find track_racecar)/launch" />
  <arg name="config_dir" default="$(find track_racecar)/config" />

  <arg name="model" default="$(find track_racecar)/urdf/track_racecar.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <group if="$(arg use_joystick)">
    <include file="$(arg launch_dir)/joystick.launch" />
    <rosparam command="load" ns="joy_node" file="$(arg config_dir)/joy_node.yaml" />
    <rosparam command="load" ns="teleop_twist_joy" file="$(arg config_dir)/teleop_twist_joy.yaml" />
  </group>
  <group if="$(arg use_keyboard)">
    <include file="$(arg launch_dir)/keyboard.launch" />
    <rosparam command="load" ns="teleop_twist_keyboard" file="$(arg config_dir)/keyboard.yaml" />
  </group>
  <group if="$(arg use_urg_node)">
    <include file="$(arg launch_dir)/urg_node.launch" />
    <rosparam command="load" ns="urg_node" file="$(arg config_dir)/urg_node.yaml" />
  </group>
  <group if="$(arg use_rosserial)">
    <include file="$(arg launch_dir)/rosserial.launch" />
    <rosparam command="load" ns="serial_node" file="$(arg config_dir)/rosserial.yaml" />
  </group>
  <group if="$(arg use_twist_mux)">
    <include file="$(arg launch_dir)/twist_mux.launch" />
    <rosparam command="load" ns="twist_mux" file="$(arg config_dir)/twist_mux.yaml" />
  </group>
  <group if="$(arg use_usb_cam)">
    <include file="$(arg launch_dir)/usb_cam.launch" />
    <rosparam command="load" ns="usb_cam" file="$(arg config_dir)/usb_cam.yaml" />
  </group>
  <group if="$(arg use_cob_base_velocity_smoother)">
    <include file="$(arg launch_dir)/cob_base_velocity_smoother.launch" />
    <rosparam command="load" ns="cob_base_velocity_smoother" file="$(arg config_dir)/cob_base_velocity_smoother.yaml" />
  </group>
  <group if="$(arg use_move_base)">
    <include file="$(arg launch_dir)/move_base.launch" />
    <group ns="move_base">
      <rosparam command="load" file="$(arg config_dir)/move_base.yaml" />
      <!-- <rosparam command="load" file="$(arg config_dir)/base_local_planner.yaml" />
      <rosparam command="load" file="$(arg config_dir)/costmap.yaml" /> -->
    </group>
  </group>
  <group if="$(arg use_robot_state_publisher)">
    <include file="$(arg launch_dir)/robot_state_publisher.launch" />
    <rosparam command="load" ns="robot_state_publisher" file="$(arg config_dir)/robot_state_publisher.yaml" />
  </group>
  <group if="$(arg use_twist_to_ackermann)">
    <include file="$(arg launch_dir)/twist_to_ackermann.launch" />
    <rosparam command="load" ns="twist_to_ackermann" file="$(arg config_dir)/twist_to_ackermann.yaml" />
  </group>
  <group if="$(arg use_line_follower)">
    <include file="$(arg launch_dir)/line_follower.launch" />
    <!-- <rosparam command="load" ns="line_follower" file="$(arg config_dir)/line_follower.yaml" /> -->
  </group>
  <group if="$(arg use_cv_camera)">
    <include file="$(arg launch_dir)/cv_camera.launch" />
    <rosparam command="load" ns="cv_camera" file="$(arg config_dir)/cv_camera.yaml" />
  </group>
  <group if="$(arg use_stage_ros)">
    <include file="$(arg launch_dir)/stage_ros.launch" />
    <!-- <rosparam command="load" ns="stage_ros" file="$(arg config_dir)/stage_ros.yaml" /> -->
  </group>
  <group if="$(arg use_darknet_ros)">
    <include file="$(arg launch_dir)/darknet_ros.launch" />
    <rosparam command="load" ns="darknet_ros" file="$(arg config_dir)/darknet_ros.yaml" />
    <rosparam command="load" ns="darknet_ros" file="$(arg config_dir)/yolo_model.yaml" subst_value="true" />
  </group>
</launch>